.ProductData {
  width: 100%;
}

.productTitle {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.productDescription {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
  margin-bottom: 16px;
}

.sectionHeding {
  font-size: 28px;
  margin-bottom: 8px;
}

.productImage {
  width: 100%;
  max-width: 80px;

  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.selectedProductImage {
  border: 2px solid teal;
}

.featureItem {
  min-width: 80px;
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
  box-sizing: content-box;

  padding: 12px 24px;
  font-weight: 600;
}

.selectedFeatureItem {
  color: white;
  background-color: gray;
}

.buynowButton {
  cursor: pointer;
  color: white;
  background-color: teal;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
  padding: 12px 24px;

  margin-top: 36px;
}
